.footer {
    background-color: rgb(199, 199, 199);
    color: black;
    height: 2rem;
    align-items: center;
}
.f-12 {
    font-size: 12px;
}
.strikethrough {
    text-decoration: line-through;
}
.italic {
    font-style: italic;
    color: rgb(88, 88, 88);
}
.cur-pointer {
    color: black;
    cursor: pointer !important;
}

.label-indicator {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin: 0 19px 0 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.very-high {
    color: #ed4c5c;
    background-color: #ed4c5c;
}
.high {
    color: #f8a541;
    background-color: #f8a541;
}
.normal {
    background-color: #00a790;
}
.low {
    background-color: #428bc1;
}
.very-low {
    background-color: #8942c1;
}

.btn:hover {
    transform: translate(0px) !important;
    -webkit-transform: translate(0px) !important;
    -moz-transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;
    -o-transform: translate(0px) !important;
}
